/* Make content area fill the entire browser window */
html,
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/* Center the content in the browser window */
main {
    padding: 10%;
    padding-top: 0;

    div {
        text-align: center;
    }
}
